*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --spin: 3800deg;
}
header{
    height: 10vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5em;
    font-size: 1.5em;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul .spacer{
    height: 1.5em;
    width: 4px;
    background-color: aquamarine;
    margin: -.15em 1em 0;
}
main{
    display: flex;
}
aside{
    width: 15%;
    background-color: rgba(0, 0, 0, .25);
    padding: 5em 2.5em;

}
aside ul{
    list-style: none;
    font-size: 1.1em;
}
aside ul li{
    margin: 1.5em 0;
}
aside ul li:hover{
    margin-left: .5em;
    cursor: pointer;
    font-weight: bold;
}
aside ul li:hover::before{
    content: '•';
    margin-right: 1em;
}
section{
    position: relative;
    bottom: 0;
    right: 0;
    height: 90vh;
    width: 100%;
}
/* preloader ("waiting" for randomization)  */
.preloader-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background-color: #fff;
    filter: contrast(20)
}

.preloader .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.preloader .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.preloader .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
/* strona glowna */
#main-content{
    width: 100%;
    position: relative;
}

#main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-page h1{
    font-size: 4em;
}
#main-page h2{
    font-size: 2em;
}
#main-page i{
    font-size: 6em;
    animation: move 1s linear infinite;
    margin: .5em 0;
}
/* ruch strzalki gora dol */
@keyframes move{
    0%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px);
    }
}
#main-page button{
    background-color: transparent;
    border: 0;
    border-radius: 2em;
    font-size: 1.2em;
    box-shadow: 2px 5px 10px rgba(0, 0,0,.2);
    padding: 1em 2em;
}
/* wybor */
#type-of-randomize{
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
    row-gap: 3em;
}
.type{
    font-size: 1.5em;
    background-color: rgba(0, 0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75em;
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, .8),
                inset -5px -5px 10px rgba(0, 0, 0, .8),
                5px 5px 10px rgba(0, 0, 0, .4)
}
.type:hover{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, .8),
                inset -5px -5px 10px rgba(0, 0, 0, .4),
                5px 5px 10px rgba(0, 0, 0, .2)
}
.type i{
    margin-left: 1em;
}
/* standard */
#standard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#standard .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
#standard .text h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}
#standard .text .input{
    margin-bottom: 2em;
}
#standard .text .input input{
    width: 20em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    padding:1em;
}
#standard .text .input button{
    width: 7em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    background-color: cornflowerblue;
}
#standard .text .added{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 1.5em;
    margin-bottom: 2em;
}
.added .item{
    border: 1px solid black;
    border-radius: 2em;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 15em;
}
#standard-button{
    width: 20em;
    height: 2em;
    font-size: 1.5em;
    background-color: aquamarine;
    border-radius: 2em;
}
#standard .result h3{
    font-size: 2.5em;
}
#standard-result{
    list-style: decimal;
}
#standard-result li{
    font-size: 1.5em;
}
.result .again{
    margin: .25em;
    width: 9em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    background-color: blueviolet;
}
/* kolo fortuny */
#circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
#circle .text h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

#circle .text .input {
    margin-bottom: 2em;
}

#circle .text .input input {
    width: 20em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    padding: 1em;
}

#circle .text .input button {
    width: 7em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    background-color: cornflowerblue;
}

#circle .text .added {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 1.5em;
    margin-bottom: 2em;
}
#circle-button {
    width: 20em;
    height: 2em;
    font-size: 1.5em;
    background-color: aquamarine;
    border-radius: 2em;
}

.circle-wrapper{
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.circle{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
    animation: spin 9s cubic-bezier(0, 0, .23, 1);
}
.circle::after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
    z-index: 100;
}
/* @keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(var(--spin));
    }
} */
.circle span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
/* ============================ */
/* 2 elementy */
/* ============================ */
/* .element1{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    background-color: green;
}
.element2{
    clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
    background-color: red;
} */
/* ============================ */
/* 3 elementy */
/* ============================ */
/* .element1{
    clip-path: polygon(50% 0, 0 0, 0 79%, 50% 50%);
    background-color: green;
}
.element2{
    clip-path: polygon(0 79%, 50% 130%, 100% 79%, 50% 50%);
    background-color: blue;
}
.element3{
    clip-path: polygon(50% 0, 100% 0, 100% 79%, 50% 50%);
    background-color: red;
} */
/* ============================ */
/* 4 elementy */
/* ============================ */
/* .element1{
    clip-path: polygon(0 0, 50% 0, 100% 0, 50% 50%);
    background-color: green;
}
.element2{
    clip-path: polygon(100% 100%, 100% 50%, 100% 0, 50% 50%);
    background-color: blue;
}
.element3{
    clip-path: polygon(100% 100%, 50% 100%, 0 100%, 50% 50%);
    background-color: red;
}
.element4{
    clip-path: polygon(0 0, 0 50%, 0 100%, 50% 50%);
    background-color: purple;
} */
/* ============================ */
/* 5 elementow */
/* ============================ */
/* .element1{
    clip-path: polygon(57.75% 0, 100% 0, 100% 42%, 50% 50%);
    background-color: green;
}
.element2{
    clip-path: polygon(75.5% 100%, 100% 100%, 100% 42%, 50% 50%);
    background-color: blue;
}
.element3{
    clip-path: polygon(75.5% 100%, 50% 100%, 0 100%, 50% 50%);
    background-color: red;
}
.element4{
    clip-path: polygon(58% 0, 0 0, 0 24.5%, 50% 50%);
    background-color: purple;
}
.element5{
    clip-path: polygon(0 100%, 0 58%, 0 24.5%, 50% 50%);
    background-color: pink;
} */
/* ============================ */
/* 6 elementow */
/* ============================ */
/* .element1 {
    clip-path: polygon(100% 50%, 100% 0, 79% 0, 50% 50%);
    background-color: green;
}

.element2 {
    clip-path: polygon(100% 50%, 100% 100%, 79% 100%, 50% 50%);
    background-color: blue;
}

.element3 {
    clip-path: polygon(21% 100%, 50% 100%, 79% 100%, 50% 50%);
    background-color: red;
}

.element4 {
    clip-path: polygon(21% 100%, 0 100%, 0 50%, 50% 50%);
    background-color: purple;
}

.element5 {
    clip-path: polygon(21% 0, 0 0, 0 50%, 50% 50%);
    background-color: pink;
}
.element6 {
    clip-path: polygon(21% 0, 50% 0, 79% 0, 50% 50%);
    background-color: orange;
} */
/* ============================ */
/* 7 elementow */
/* ============================ */
/* .element1 {
    clip-path: polygon(90% 0, 100% 0, 100% 50%, 50% 50%);
    background-color: green;
}

.element2 {
    clip-path: polygon(90% 100%, 100% 100%, 100% 50%, 50% 50%);
    background-color: blue;
}

.element3 {
    clip-path: polygon(90% 100%, 50% 100%, 39% 100%, 50% 50%);
    background-color: red;
}

.element4 {
    clip-path: polygon(0 75%, 0 100%, 39% 100%, 50% 50%);
    background-color: purple;
}

.element5 {
    clip-path: polygon(0 75%, 0 50%, 0 25%, 50% 50%);
    background-color: pink;
}

.element6 {
    clip-path: polygon(38% 0, 0 0, 0 25%, 50% 50%);
    background-color: orange;
}
.element7 {
    clip-path: polygon(38% 0, 50% 0, 90% 0, 50% 50%);
    background-color: yellow;
} */
/* ============================ */
/* 8 elementow */
/* ============================ */
/* .element1 {
    clip-path: polygon(50% 0, 50% 0, 100% 0, 50% 50%);
    background-color: green;
}

.element2 {
    clip-path: polygon(100% 50%, 100% 50%, 100% 0, 50% 50%);
    background-color: blue;
}

.element3 {
    clip-path: polygon(100% 50%, 100% 50%, 100% 100%, 50% 50%);
    background-color: red;
}

.element4 {
    clip-path: polygon(50% 100%, 100% 100%, 100% 100%, 50% 50%);
    background-color: purple;
}

.element5 {
    clip-path: polygon(50% 100%, 50% 100%, 0 100%, 50% 50%);
    background-color: pink;
}

.element6 {
    clip-path: polygon(0 50%, 0 50%, 0 100%, 50% 50%);
    background-color: orange;
}

.element7 {
    clip-path: polygon(0 50%, 0 50%, 0 0, 50% 50%);
    background-color: yellow;
}
.element8 {
    clip-path: polygon(50% 0, 50% 0, 0 0, 50% 50%);
    background-color: cyan;
} */
/* ============================ */
/* 9 elementow */
/* ============================ */
/* .element1 {
    clip-path: polygon(50% 0, 93% 0, 93% 0, 50% 50%);
    background-color: green;
}

.element2 {
    clip-path: polygon(100% 41%, 93% 0, 93% 0, 50% 50%);
    background-color: blue;
}

.element3 {
    clip-path: polygon(100% 41%, 100% 79%, 100% 79%, 50% 50%);
    background-color: red;
}

.element4 {
    clip-path: polygon(67% 100%, 100% 79%, 100% 79%, 50% 50%);
    background-color: purple;
}

.element5 {
    clip-path: polygon(67% 100%, 30% 100%, 30% 100%, 50% 50%);
    background-color: pink;
}

.element6 {
    clip-path: polygon(0 77%, 30% 100%, 30% 100%, 50% 50%);
    background-color: orange;
}

.element7 {
    clip-path: polygon(0 77%, 0 41%, 0 41%, 50% 50%);
    background-color: yellow;
}

.element8 {
    clip-path: polygon(10% 0, 0 41%, 0 41%, 50% 50%);
    background-color: cyan;
}
.element9 {
    clip-path: polygon(10% 0, 50% 0, 50% 0, 50% 50%);
    background-color: rgb(26, 23, 123);
} */
/* ============================ */
/* 10 elementow */
/* ============================ */
.element1 {
    clip-path: polygon(86% 0, 50% 0, 50% 0, 50% 50%);
    background-color: green;
}

.element2 {
    clip-path: polygon(86% 0, 100% 34%, 100% 34%, 50% 50%);
    background-color: blue;
}

.element3 {
    clip-path: polygon(100% 67%, 100% 34%, 100% 34%, 50% 50%);
    background-color: red;
}

.element4 {
    clip-path: polygon(100% 67%, 86% 100%, 86% 100%, 50% 50%);
    background-color: purple;
}

.element5 {
    clip-path: polygon(50% 100%, 50% 100%, 86% 100%, 50% 50%);
    background-color: pink;
}

.element6 {
    clip-path: polygon(50% 100%, 50% 100%, 14% 100%, 50% 50%);
    background-color: orange;
}

.element7 {
    clip-path: polygon(0 66%, 0 66%, 14% 100%, 50% 50%);
    background-color: yellow;
}

.element8 {
    clip-path: polygon(0 66%, 0 66%, 0 34%, 50% 50%);
    background-color: cyan;
}

.element9 {
    clip-path: polygon(14% 0, 14% 0, 0 34%, 50% 50%);
    background-color: rgb(26, 23, 123);
}
.element10 {
    clip-path: polygon(14% 0, 14% 0, 50% 0, 50% 50%);
    background-color: rgb(169, 38, 95);
}
#circle .result-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20em;
    width: 40em;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#circle .result-div h3{
    font-size: 3em;
    margin-bottom: 1.5em;
}
#circle .result-div p{
    font-size: 2.5em;
    color: white;
}
/* kolor */
#color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#color .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5em;
    margin-bottom: 5em;
}
#color .text h2{
    font-size: 3em;
    margin-bottom: 1em;
}
#color .text button{
    font-size: 2em;
    background-color: burlywood;
    border-radius: 2em;
    padding: .5em 1em;
    width: 40%;
}
#color .result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#color .result #show-color{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-bottom: 3em;
}
#color .result .color-codes{
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
}
#color .result .color-codes div{
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* rasa psa */
#dog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dog .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dog .text h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}
#dog .text button{
    font-size: 2em;
    background-color: burlywood;
    border-radius: 2em;
    padding: .5em 1em;
    width: 40%;
}
#dog .result{
    display: flex;
    flex-direction: column;
}
#dog .result .dog-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dog .result .dog-info img{
    height: 200px;
    width: 200px;
}
#dog-name{
    font-size: 2em;
    text-transform: capitalize;
}
#life-expectancy{
    font-size: 1.25em;
}
#dog table{
    margin: 1em 0;
    border-collapse: collapse;
}
#dog table td{
    border: 1px solid black;
    padding: .5em;
}
#dog .ratings{
    list-style: none;
}
#dog .ratings li{
    margin: 1em 0;
}
#dog .ratings li i{
    color: gold;
}
/* cytat */
#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#quote .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5em;
    margin-bottom: 5em;
}
#quote .text h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}
#quote .text button {
    font-size: 2em;
    background-color: burlywood;
    border-radius: 2em;
    padding: .5em 1em;
    width: 40%;
}
#quote .result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quote .result h3{
    font-size: 1.5em;
    margin-bottom: 1em;
}
#quote .result blockquote {
    width: 45%;
}
#quote .result span{
    font-style: italic;
    margin: 1em 25em 0 auto;
}
/* liczba */
#number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#number h2{
    font-size: 3em;
    text-align: center;
}
#number .switcher{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#number .switcher input{
    margin: 0 2em;
    display: none;
}
#number .switcher label{
    width: 3.5em;
    height: 1.5em;
    background-color: green;
    position: relative;
    border-radius: 2em;
    margin: 0 1em;
}
#number .switcher label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: white;
    transition: all .3s linear;
}

#number .switcher input:checked+label::after {
    transform: translate(100%, -50%);
}
#number .input{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#number .input input{
    margin-top: .25em;
    font-size: 1em;
    padding: .5em;
    border-radius: 2em;
}
#number button{
    font-size: 2em;
    background-color: burlywood;
    border-radius: 2em;
    padding: .25em 1em;
    width: 60%;
    margin-left:20%;
    margin-top: 1em;
}
#number .result{
    margin-top: 1em;
    text-align: center;
}